<article class="short">
	<img
		class="short__thumb"
		[src]="photo()"
		[alt]="entity().title"
		loading="lazy"
		(error)="onPhotoError($event)"
	/>

	<div class="short__body">
		<h3 class="short__title">{{ entity().title }}</h3>
		<p class="short__address">{{ entity().durationMinutes }} хв</p>

		<div class="short__meta">
			<span>{{ entity().price }} {{ entity().currency }}</span>
			<span>{{ entity().category }}</span>
			<span>{{ entity().status }}</span>
		</div>

		@if (specialist() || venue()) {
			<div class="short__relations">
				@if (specialist(); as sp) {
					<button type="button" class="short__relation" (click)="onRelationClick($event, 'specialist', sp._id)">
						<app-specialist-icon [entity]="sp" />
					</button>
				}
				@if (venue(); as v) {
					<button type="button" class="short__relation" (click)="onRelationClick($event, 'venue', v._id)">
						<app-venue-icon [entity]="v" />
					</button>
				}
			</div>
		}
	</div>
</article>
